@import './variable';
.header_section{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(175, 174, 174, 0.486);
    h2{
        font-size: 35px;
        letter-spacing: 1px;
    }
    .lanuch_btn{
        font-size: 25px;
        border-color: $primary;
        margin-top: 25px;
        background-color:$primary !important;
        border-radius:28px;
        width: 300px;
        &:hover{
            background-color: #4979ff !important;
        }
    }
}