.post_item{
    margin:10px 10px;
    h4{
        font-weight: bolder;
        font-size: 22px !important;
        height: 50px;
        cursor: pointer;
        &:hover{
            color: #5d5a5a;
        }
    }
    &_badge{
        background-color: orange;
        padding: 3px 10px;
        color: #fff;
        border-radius: 30px;
        font-size: 14px;
    }
    &_author{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 0px;
        .name{
            font-weight: bolder;
        }
        .date{
            color: #504f4f;
        }
    }
    &_content{
        height: 80px;
        cursor: pointer;
    }
    &_footer{
       background-color: #fff !important;
       padding: 25px 0px;
        display: flex;
       .noti_btn{
           padding-left: 20px;
            .icon{
                display:inline-block;
                vertical-align: 3px;
                font-size: 17px;
                margin-right: 7px;
            }
            span{
                display:inline-block;
                vertical-align: 5px;
                font-size: 17px;
            }
       }
    }
}
